{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}
	<div class='container'>
		<div class='mt-2 mb-2 row justify-content-center'>
			<div style='background-color: #f0f8ff' class='m-4 hoverable p-3 rounded {% if not app.user %} col-lg-6 {% else %} col-lg-12 {% endif %}'>
				<h1 class='animate__animated animate__bounce text-bold'> WELCOME! </h1>
				{# <h1 class="ml1">
					<span class="text-wrapper">
						<span class="line line1"></span>
						<span class="letters"> WELCOME! </span>
						<span class="line line2"></span>
					</span>
				</h1> #}
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fermentum lectus vel maximus efficitur. Donec quis dui vel dolor elementum malesuada. Maecenas non malesuada elit. Nunc id efficitur leo, quis viverra turpis. Vestibulum ullamcorper quam eget metus lacinia, eget blandit elit commodo. Nullam dolor nunc, lobortis quis arcu ut, rutrum egestas mi. Donec varius eleifend sapien ut dignissim. In hac habitasse platea dictumst. Phasellus vitae sollicitudin nibh. Ut consectetur volutpat enim, facilisis ultrices nibh porta sodales.</p>
			</div>

			{# SIGN UP Shows Only for non-loggedIn users #}
			{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
			{% if not app.user %}
			<div style='padding:15px;' class='animatedGradient m-4 rounded col-lg-4 hoverable text-bold text-white'>
				<h1><b>SIGN UP</b></h1>

				

				{{ form_start(registrationForm) }}
				{% block form_label_errors %}{% endblock %}
				<div class='form-group'>
					{{ form_row(registrationForm.username) }}
				</div>
				{# {{ form_label(registrationForm.username, null, {'attr': {'class':'' } }) }}
				{{ form_widget(registrationForm.username, { 'attr': {'class': 'foo'} }) }} #}
				
				{{ form_row(registrationForm.plainPassword) }}
				
				{{ form_row(registrationForm.birthdate, { 'attr': {'class': 'd-flex justify-content-between'} }) }}
				{# {{ form_row(registrationForm.agreeTerms) }} #}
				<style>
					#registration_form_birthdate_month {
						width:31%;
						margin-right:3%;
					}
					#registration_form_birthdate_day {
						width:31%;
						margin-right:3%;
					}
					#registration_form_birthdate_year {
						width:31%;
					}
				</style>
				


				<div class='text-center'>
					<button type="submit" class="btn btn-dark">Register</button>
				</div>
				{{ form_end(registrationForm) }}
			</div>
			{% endif %}
		</div>
		<div class='text-center animate__animated animate__swing'>
			{# 1/2 Din protectie; cealalta jumatate este in CONTROLLER #}
			{% if app.user %}
				<a href='{{ path('tutorial') }}'>
					<button class='btn btn-dark mt-3'>GO TO TUTORIAL</button>
				</a>
			{% endif %}
		</div>
	</div>
{% endblock %}
