{% extends 'base.html.twig' %}

{% block title %} Home
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}
	
	{# Vertical Labels Theme #}
	{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}

	<div class='container'>
		<div class='mt-2 mb-2 row justify-content-center animated zoomIn'>
			<div id='HomeContent' class='m-4 hoverable p-3 rounded 
			{% if not app.user %} 
				col-lg-6 
			{% else %} 
				col-lg-12 
			{% endif %}
			'>
				<h1> WELCOME! </h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fermentum lectus vel maximus efficitur. Donec quis dui vel dolor elementum malesuada. Maecenas non malesuada elit. Nunc id efficitur leo, quis viverra turpis. Vestibulum ullamcorper quam eget metus lacinia, eget blandit elit commodo. Nullam dolor nunc, lobortis quis arcu ut, rutrum egestas mi. Donec varius eleifend sapien ut dignissim. In hac habitasse platea dictumst. Phasellus vitae sollicitudin nibh. Ut consectetur volutpat enim, facilisis ultrices nibh porta sodales.</p>
			</div>


			{# SIGN UP Shows Only for non-loggedIn users #}
			{% if not app.user %}
				<div class='animatedGradient m-4 p-3 rounded col-lg-4 hoverable text-bold text-white'>
					<h1><b>SIGN UP</b></h1>

					{{ form_start(registrationForm) }}
					{% block form_label_errors %}{% endblock %}
					<div class='form-group'>
						{{ form_row(registrationForm.username|escape) }}
					</div>
					{{ form_row(registrationForm.plainPassword|escape) }}
					{{ form_row(registrationForm.birthdate, { 'attr': {'class': 'd-flex justify-content-between'} }) }}
					<div class='text-center'>
						<button type="submit" class="btn btn-dark">Register</button>
					</div>
					{{ form_end(registrationForm) }}
				</div>
			{% endif %}
		</div>

		<div class='text-center animate__animated animate__swing'>
			{# 1/2 de protection; l'autre moitié est dans le CONTROLLER #}
			{% if app.user %}
				<a href='{{ path('tutorial') }}'>
					<button class='btn btn-dark mt-3'>GO TO TUTORIAL</button>
				</a>
			{% endif %}
		</div>
	</div>
{% endblock %}
