{% extends 'base.html.twig' %}

{% block title %} Wawawewa!
{% endblock %}

{% block body %}



		{# RESULTS TABLE #}
		{% if app.request.attributes.get('_route') == 'admin_results' %}
			<div class='container responsive rounded mt-5 pt-3 col-lg-10 bg-white hoverable '> 
				<table id="table_id" datatables='' class="display p-1 bg-white responsive " style="width:100%">
					<thead>
						<th data-priority="1">USER</th>	{# Ordinea in care dispar coloanele #}
						<th data-priority="4">q.number</th>
						<th data-priority="2">QUESTION</th>
						<th data-priority="5">answ.nb</th>
						<th data-priority="3">ANSWER</th>
					</thead>
					<tbody>
						{% for usr_answ in userAnswer %}
							<tr class='resultsAll'>
								<td class='text-center'>
									<b>{{usr_answ.user.username}}</b>
								</td>
								<td class='text-center'>{{usr_answ.question.qnumber}}</td>
								<td>{{usr_answ.question.content}}</td>
								<td class='text-center'>{{usr_answ.answer.answernumber}}</td>
								<td>{{usr_answ.answer.content}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}

		{# MODULES TABLE #}
		{% if app.request.attributes.get('_route') ==  'admin_modules' %}
			<div class='container responsive rounded mt-5 pt-3 col-lg-10 bg-white hoverable'>
				<table id="table_id" datatables='' class="display p-1 responsive wrap bg-white" style="width:100%">
					<thead>
						<tr class='modulesAll'>
							<th data-priority="1">MODULES</th>
							<th data-priority="1">N.S.</th>
							<th data-priority="1">Slides</th>
							<th data-priority="5">Content Type</th>
						</tr>
					</thead>
					{# Trec prin SLIDE ca sa ajung la MODULE #}
					<tbody>
						{% for slide in slides %}

							<tr>
								<td>{{slide.getIdModule.title}}</td>
								<td>{{slide.getSlideNumber}}</td>
								<td class='text-justify'>{{slide.content}}</td>
								<td>
									<i>{{slide.getContentType}}</i>
								</td>
							</tr>

						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}

		{# QUIZZEZ TABLE #}
		{% if app.request.attributes.get('_route') == 'admin_quizzes' %}
			<div class='container responsive rounded mt-5 pt-3 col-lg-10 hoverable bg-white'>
				<table id="table_id" datatables='' class="display p-1 responsive wrap" style="width:100%; position:relative; z-index:3">
					<thead >
						<tr>
							<th data-priority="3">Quiz id</th>
							<th data-priority="4">Q_N</th>
							<th data-priority="1">Question</th>
							<th data-priority="5">Answer Number</th>
							<th data-priority="2">Answer</th>
							<th data-priority="6">Edit</th>
							<th data-priority="7">Delete</th>
						</tr>
					</thead>
					<tbody>
						{% for answer in answers %}
							<tr class='quizzesAll'>
								<td>
									<b>{{answer.getQuestion.getQuiz.id}}</b>
								</td>
								<td>{{answer.getQuestion.getQNumber}}</td>
								<td>{{answer.getQuestion.content}}</td>
								<td>{{answer.getAnswerNumber}}</td>

								<td>{{answer.content}}</td>
								<td>
									<a href='#'>🖋</a>
								</td>
								<td>
									<a href='#'>🗑</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}


		{# <style>
																							table {
																								font-family: arial, sans-serif;
																								border-collapse: collapse;
																								width: 80%;
																								margin-left: 15%;
																								margin-right: auto;
																							}
																							td,
																							th {
																								border: 2px solid black;
																								text-align: justify;
																								padding: 6px;
																							}
																					
																					
																							{
																								# TABLE GROUPINGS #
																							}
																							{
																								# RESULTS #
																							}
																							{
																								# PER NUMBER OF QUESTIONS IN QUIZ #
																							}
																							.resultsAll:nth-child(10n + 2) {
																								background-color: #e49600;
																							}
																							.resultsAll:nth-child(10n + 3) {
																								background-color: #e49600;
																							}
																							.resultsAll:nth-child(10n + 4) {
																								background-color: #e49600;
																							}
																							.resultsAll:nth-child(10n + 5) {
																								background-color: #e49600;
																							}
																							.resultsAll:nth-child(10n + 6) {
																								background-color: #e49600;
																							}
																							{
																								# .resultsAll:nth-child(4n + 3) {
																									background-color: #e49600;
																								} #
																							}
																					
																					
																							{
																								# MODULES #
																							}
																							{
																								# Cum pot sa colorez diferite pt. fiecare valoare din MODULE.TITLE ?? #
																							}
																							{
																								# Vezi TRELLO #
																							}
																					
																							{
																								# QUIZ #
																							}
																							.quizzesAll:nth-child(10n + 2) {
																								background-color: #ffffff;
																							}
																							.quizzesAll:nth-child(10n + 3) {
																								background-color: #ffffff;
																							}
																							.quizzesAll:nth-child(10n + 4) {
																								background-color: #ffffff;
																							}
																							.quizzesAll:nth-child(10n + 5) {
																								background-color: #ffffff;
																							}
																							.quizzesAll:nth-child(10n + 6) {
																								background-color: #ffffff;
																							}
																						</style> #}

{% endblock %}
