{% extends 'base.html.twig' %}
{% block title %}
	Wawawewa!
	{# TBDeleted #}
{% endblock %}

{% block body %}
	{# {{ dump() }} #}

	<div class="progress mb-4">
		<div id='progressBar' class="progress-bar progress-bar-striped progress-bar animate__animated animate__slideInLeft" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
	</div>
	<style>
		{
			# For 5 Quiz-Questions #
		}
		{% if question_id == 1 %}
			#progressBar {
				width: 1%;
			}
		{% elseif question_id == 2 %}
			#progressBar {
				width: 20%;
			}
		{% elseif question_id == 3 %}
			#progressBar {
				width: 40%;
			}
		{% elseif question_id == 4 %}
			#progressBar {
				width: 60%;
			}
		{% elseif question_id == 5 %}
			#progressBar {
				width: 80%;
			}
		{% endif %}
	</style>
	<h1 class='mb-4'>Quiz
		{# {{quiz_id}} #}
	</h1>

	{# {% form_theme quizForm 'foundation_5_layout.html.twig' %} #}

	<div style='background-color:#cee5ff; padding:20px' class='container rounded col-lg-10 animate__animated animate__fadeIn'>
		<div id="quizAnswer" class='rounded p-1'>
			<h2>{{questions.qnumber}}.{{questions.content}}</h2>
		</div>
		{{ form_start (quizForm) }}
		{{ form_widget (quizForm.question) }}
		{# HIDDEN #}
		{{ form_widget (quizForm.quiz) }}
		{# HIDDEN #}
		{{ form_widget (quizForm.answer, {'attr': {
			'class': 'quizAnswers p-3 option-input radio',
			'onclick':"RadioValidator();"
		}}) }}
		<div
			id='submitBtnContainer' class='text-center' onclick="loadingButton()">

			{# Useless Btn #}
			{{ form_widget (quizForm.save, {'attr': {
				'class': 'btn btn-dark mb-0 ',
				'style': 'display:none'
			}}) }}
			<button id='movingButton' type="submit" class="btn btn-dark mb-0">
				<span id='Hspinner' class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display:none "></span>
				<div id='magicText' style='display:block'>NEXT QUESTION
				</div>
			</button>
		</div>
		{{ form_end (quizForm) }}
	</div>

	<style>
		.form-check {
			padding: 5px;
			border-radius: 25px;
		}
		.form-check:hover {
			box-shadow: 3px 3px 3px grey;
			transition-duration: 0.4s;
			transition-timing-function: ease;
			transition-delay: 2s, 4ms;
			background-color: #b9cfe8;
		}
	</style>

{% endblock %}
