{% extends 'base.html.twig' %}

{% block title %}Hello QuizController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	{# TITLE changes for each quizType #}
	{% if id == 1 %}
		<h1>QUIZ
			<i>PRE</i>
		</h1>
	{% elseif id == 2 %}
		<h1>QUIZ
			<i>POST</i>
		</h1>
	{% endif %}

	<div style='background-color: green'>
		{% for question in questions %}
			{# QUESTIONS LOOP #}
			<h3></h3>
			<p style='background-color: pink; padding:5px'>{{question.getQNumber}}.
				{{question.content}}
				{# </p> #}
				<div>
					{% for answer in answers %}
						{# ANSWERS LOOP #}
						<p><input type='radio'>
							{{answer.content}}</p>
					{% endfor %}
				</div>
				<button>PREVIOUS</button>
				<button>NEXT</button>

			{% endfor %}


			{% if id == 1 %}
				<a href="{{ path('module', {'id' : 1}) }}">
					<button>Finish</button>
				</a>
			{% elseif id == 2 %}
				<a href="{{ path('modules_page')}}">
					<button>Back to MODULES</button>
				</a>
			{% endif %}

		</div>
	{% endblock %}
