{% extends 'base.html.twig' %}

{# Titre dynamique #}
{% block title %} 
		{# {{module[id-1].title}} #}
{% endblock %}

{% block body %}
	{# {% if module[id-1].title is defined %}
		<h1 class='text-white'>404 Error Bauss</h1>
	{% endif %} #}

	{% if (id != 1) or (id != 2) %}
	<div class='container col-lg-8'>
		{# Titre dynamique #}
		<h1 class='text-bold text-white'>
			<i>{{module[id-1].title}}</i>
		</h1>
	
		{# Chaque MODULE a une couleur différente #}
		{% if id is odd %}

		{# MODULE A #}
			<div id='ModuleA' class=' rounded animated fadeIn'>
				{# {{dump(id)}} #}
				{# {{dump(slides|length)}} #}

				{% for slide in slides %}
					{# 1ere Slide est visible (manuel!) #}
					{# A specifier en fonction du module #}
					
					<div id='slide{{slide.id}}' class='slide p-3 ' {{ slide.id == 1 ? 'style="display:"' : 'style="display:none"' }}>
					{# ^^ slide{{slide.id}} exista pt. a putea crea IF-ul #}
						<h5 class='mb-3 text-center'>
							<b>- {{slide.getSlideNumber}} -</b>
						</h5>
						<div id='SlideContentA' class='col-12 text-justify'>
							{# 'raw' Pour enlever les guillemets #}	
							{{slide.content|raw}} 
						</div>
						<br>
						
						<div class='NextSlideTimer text-center animate__animated invisible'>
							{# !! Slide.id DOIT être consécutif, sinon no-no #}
							<button 
								onclick='showSlide("slide{{slide.id+1}}")' 
								{# IF pour Cacher le BTN si sur le derniere SLIDE (slides|length) #}
								class='mt-3 btn btn-dark 
								{% if slide.getSlideNumber == slides|length %} d-none {% endif %}
								'>NEXT SLIDE
							</button>
						{# {{dump(slide.id)}} #}

						{# IF pour Afficher le BTN si sur le derniere SLIDE (auto) #}
						{% if slide.getSlideNumber == slides|length %}
							<a id='moduleB' href="{{ path('module', {'id' : 1}) }}">
								<button class='btn btn-dark col-xs-5'> 
									Restart 
								</button>
							</a>
							<a id='moduleB' href="{{ path('module', {'id' : 2}) }}">
								<button class='btn btn-danger col-xs-7'> 
									Go To MODULE B 
								</button>
							</a>
						{% endif %}
						</div>
						<br>
					</div>
				{% endfor %}
			</div>
		
		{% else %}


		{# MODULE B #}
			<div id='ModuleB' class='rounded'>
				{% for slide in slides %}
					<div id='slide{{slide.id}}' class='slideN{{slide.getSlideNumber}} slide p-3' 
					{# 1ere Slide est visible (manuel!) #}
					{# A specifier en fonction du module #}
					{{ slide.id == 7 ? 'style="display:"' : 'style="display:none"' }}>

						<h5 class='mb-3 text-center'>
							<b>- {{slide.getSlideNumber}} -</b>
						</h5>
						<div id='SlideContentB' class='col-12 text-justify'>
							{{slide.content|raw}}
							{# Ca sa nu adauge ghilimele degeaba #}
						</div>
						<br>

						<div class='NextSlideTimer text-center animate__animated invisible'>
							{# !! Les Slide.id DOIVENT être consécutifs, sinon no-no #}
							<button 
								onclick='showSlide("slide{{slide.id+1}}")'
								{# IF pour Cacher le BTN si sur le derniere SLIDE (slides|length) #} 
								class='text-center btn btn-secondary 
								{% if slide.getSlideNumber == slides|length %} d-none {% endif %}
								'>
									NEXT SLIDE
							</button>
						{# IF pour Afficher le BTN si sur le derniere SLIDE (auto) #}
						{% if slide.getSlideNumber == slides|length %}
							<a id='moduleB' href="{{ path('module', {'id' : 2}) }}">
								<button class='btn btn-secondary'> 
									Restart 
								</button>
							</a>
							{# IF I'm on the 2nd Module, I'll go to the POST-QUIZ #}
							<a id='quizPost' href="{{ path('quizPOST_', {'quiz_id' : 2, "question_id" : 11})}}">
								<button class='btn btn-dark'>
									Go To Quiz-POST
								</button>
							</a>
						{% endif %}	
						</div>
						<br>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
	{% else %}
		<h1 class='text-warning'>404 Error Bauss</h1>
	{% endif %}

	
{% endblock %}
