<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Welcome!
			{% endblock %}
		</title>
		{# ====================================================== #}
		{% block stylesheets %}
			<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/b-1.6.5/kt-2.5.3/r-2.2.6/datatables.min.css"/>

			<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/b-1.6.5/kt-2.5.3/r-2.2.6/datatables.min.js"></script>

			{# H: CSS #}
			<link
			rel="stylesheet" href="{{ asset('css/app.css')}}">
			{# BOOTSTRAP #}
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
			<link
			rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

			{# DATA TABLES .css #}
			<link
			rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

			<!-- Font Awesome -->
			<link
			rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
			<!-- Google Fonts -->
			<link
			rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
			<!-- Material Design Bootstrap -->
			<link
			href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">

			{# random #}
			<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.jqueryui.min.css"/>

			<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
			<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.jqueryui.min.js"></script>

			<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.22/datatables.min.css"/>

			<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.22/datatables.min.js"></script>

			{# Animate.CSS #}
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>


		{% endblock %}

	</head>
	<body style='background-color:#98B1E4; background-image: url("{{ asset(' image/background.jpg')}}"); margin-bottom:250px; background-size: 35%;' class='container '>
		{# ================================ DEPRECATED ======================================== #}
		{# OLD NavBar #}
			<header style="display:none"> <nav>
				{# IF user is logged in #}
				{% if app.user %}
					<div style="background-color:white; float:right">
						Top of the morning to you,
						<b>
							<i>{{ app.user.username }}</i>
						</b>
						!
					</div>
					<br>
				{% endif %}
				<ul class="horizontal mb-0" style="background-color: #E3F239">
					<li>
						<a {# class="active" #} href="{{ path('home') }}">Home</a>
					</li>
					<li class="rightli">
						<a href="{{ path('tutorial') }}">TUTORIAL</a>
					</li>
					<li class="rightli">
						<a href="{{ path('modules_page') }}">MODULES</a>
					</li>

					{# ONLY if user exists #}
					{% if app.user %}
						<li class="rightli">
							<a style="color:red" href="{{ path('app_logout') }}">LOGOUT</a>
						</li>
					{% else %}
						<li class="rightli">
							<a style="color:blue" href="{{ path('app_login') }}">LOGIN</a>
						</li>
					{% endif %}

					{# ONLY if user == ADMIN #}
					{% if is_granted('ROLE_ADMIN') %}
						<li class="rightli">
							<a style='background-color: black; color:white; padding:0px 4px 0px 4px;' href="{{ path('admin_panel') }}">ADMIN</a>
						</li>
					{% endif %}
				</ul>
			</nav>
			<div
				id='admin_sideMenu' class='sidenav'>
				{# DOAR DACA SUNT IN ADMIN_PANEL #}
				{% if app.request.attributes.get('_route') starts with 'admin_' %}
					<div style='float: left'>
						<h1>
							<a href="{{path('export')}}">Export XCEL</a>
						</h1>
						<br>
						<a href='{{path('admin_results')}}' {# MOVING ACTIVE CLASS FOR CLICKED BUTTON TO MARK SECTION #} {% if app.request.attributes.get('_route') == 'admin_results' %} class='active' {% endif %}>
							• RESULTS
						</a>
						<br>
						<a href='{{path('admin_modules')}}' {% if app.request.attributes.get('_route') == 'admin_modules' %} class='active' {% endif %}>
							• MODULES
						</a>
						<br>
						<a href='{{path('admin_quizzes')}}' {% if app.request.attributes.get('_route') == 'admin_quizzes' %} class='active' {% endif %}>
							• QUIZ
						</a>
						<br>
						<a href='{{ path('admin_results') }}'>
							Add MODULE
						</a>
						<br>
						<a href='{{ path('admin_results') }}'>
							Add QUIZ
						</a>

					</div>

					<br>
					<br>
					<br>

				{% endif %}
			</div>
			<style>
				{
					# .active {
						background-color: #680039;
						color: white;
					} #
				}
			</style>
		</header>


		{# =================================== IN USE ===================================== #}
		{# <!--BOOTSTRAP NAVBAR --> #}
		<nav
			class="mb-1 navbar navbar-expand-lg navbar-dark secondary-color lighten-1 rounded-bottom">
			{# LOGO BTN #}
			<a class="navbar-brand" href="{{path('home')}}">LOGO HOME</a>

			{# NavCollapse #}
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555" aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent-555">
				<ul
					class="navbar-nav mr-auto">

					{# HOME #}
					<li class="nav-item {% if app.request.attributes.get('_route') == 'home' %} active {% endif %}">
						<a class="nav-link" href="{{path('home')}}">Home
							<span class="sr-only">(current)</span>
						</a>
					</li>

					{# TUTORIAL #}
					<li class="nav-item {% if app.request.attributes.get('_route') == 'tutorial' %} active {% endif %}">
						<a class="nav-link" href="{{path('tutorial')}}">Tutorial</a>
					</li>

					{# MODULES #}
					<li class="nav-item {% if app.request.attributes.get('_route') == 'modules_page' %} active {% endif %}">
						<a class="nav-link" href="{{path('modules_page')}}">Modules</a>
					</li>


					{# ONLY FOR ADMIN #}
					{% if is_granted('ROLE_ADMIN') %}
						<li class="nav-item {% if app.request.attributes.get('_route') == 'admin_results' %} active {% endif %}">
							<a class="nav-link" href="{{path('admin_results')}}">ADMIN</a>
						</li>
					{% endif %}
				</ul>
				{# RIGHT-SIDE BTNS #}

				<ul class="navbar-nav ml-auto nav-flex-icons">
					{% if app.user %}
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_logout')}}">LOGOUT</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link active" href="{{path('app_login')}}">LOGIN</a>
						</li>
					{% endif %}
				</ul>
				<span class='text-dark text-bold'>
					{% if app.user %}
						<i stylee='font-size:18px'>
							{{ app.user.username }}</i>
						<svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-person-circle text-dark" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
							<path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
							<path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
						</svg>
					{% endif %}

				</span>
			</div>
		</nav>


		{## TODO
																																																									{# ADMIN NAVBAR #}
		{% if app.request.attributes.get('_route') starts with 'admin_' %}
			<div class="btn-group  float-right" role="group">
				<a href="{{path('admin_results')}}" class="btn btn-secondary btn-md {% if app.request.attributes.get('_route') == 'admin_results' %} active {% endif %}">RESULTS
				</a>
				<br>
				<a href="{{path('admin_modules')}}" class="btn btn-secondary  btn-md {% if app.request.attributes.get('_route') == 'admin_modules' %} active {% endif %}">MODULES
				</a>
				<br>
				<a href="{{path('admin_quizzes')}}" class="btn btn-secondary  btn-md {% if app.request.attributes.get('_route') == 'admin_quizzes' %} active {% endif %}">QUIZ
				</a>
			</div>
		{% endif %}
		{% if app.request.attributes.get('_route') == 'admin_results' %}
			<div class="btn-group  float-right" role="group">
				<a href="{{path('export')}}" class="btn btn-light btn-md text-body font-weight-bold">
					EXPORT
				</a>
			</div>
		{% endif %}
		<br>
		{##}

		{# ====================================================== #}{% block body %}
		{% endblock %}

		{# ====================================================== #}
			{% block footer %}
				<footer
				class='container fixed-bottom '> <!-- Footer -->
				<footer
					class="page-footer font-small secondary-color pt-2 rounded-top shadow">

					<!-- Footer Links -->
					<div
						class="container-fluid text-center text-md-left">

						<!-- Grid row -->
						<div
							class="row">

							<!-- Grid column -->
							<div
								class="col-md-2 mt-md-0 mt-3">

								<!-- Content -->
								<h5 class="text-uppercase">Contact</h5>
								<p></p>
								{# <p> • Tel: 06 20 123 456</p> #}

							</div>
							<!-- Grid column -->

							{# <hr
																																																								class="clearfix w-100 d-md-none pb-3"> #}

							<!-- Grid column -->
								<div
								class="col-md-3 mb-md-0"> <!-- Links -->
								<h5>
									📞 06 20 123 456</h5>

								{# <ul class="list-unstyled">
																																																																	<li>
																																																																		<a href="#!">Link 1</a>
																																																																	</li>
																																																																	<li>
																																																																		<a href="#!">Link 2</a>
																																																																	</li>
																																																																	<li>
																																																																		<a href="#!">Link 3</a>
																																																																	</li>
																																																																	<li>
																																																																		<a href="#!">Link 4</a>
																																																																	</li>
																																																																</ul> #}

							</div>
							<!-- Grid column -->

							<!-- Grid column -->
							<div
								class="col-md-4 mb-md-0">

								<!-- Links -->
								<h5>
									<a href='adress@company.com'>
										✉️ adress@company.com</a>
								</h5>

							</div>
							<!-- Grid column -->
							<!-- Grid column -->
							<div
								class="col-md-3 mb-md-0">

								<!-- Links -->
								<a href='google.com' class='hoverable'>
									<h5>
										🌍 www.website.com</h5>
								</a>

							</div>
							<!-- Grid column -->

						</div>
						<!-- Grid row -->

					</div>
					<!-- Footer Links -->

					<!-- Copyright -->
					<div class="footer-copyright text-center py-3">© 2020 Copyright:
						<a href="http://horiagg.alwaysdata.net">
							HorrificDev
						</a>
					</div>
					<!-- Copyright -->

				</footer>
				<!-- Footer -->
			</footer>
		{% endblock %}
		{# ====================================================== #}
		{% block javascripts %}
			{# H: main.js #}
			<script src="{{ asset('js/main.js')}}"></script>

			{# DATA TABLES .js + BootStrap #}
			<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
			<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>

			{# JQuery #}
			<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

			{# JS 4 Boostrap #}
			<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
			<!-- JQuery -->
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
			<!-- Bootstrap tooltips -->
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
			<!-- MDB core JavaScript -->
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>

			{# not working #}
			<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.22/datatables.min.css"/>

			<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.22/datatables.min.js"></script>

			{# MovingLetters #}
			<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>


		{% endblock %}
	</body>
</html></body></html>
